footer
  .container.text-center
    p.pull-left © 2017 NOS
    ul.pull-right.list-inline
      li
        p Verhaal: <strong>#{inosStoryTitle}</strong>
      li
        p |
      li
        a(href='/status') Serverstatus
