extends layout

block content
  h1 Welkom
  hr
  .row
    .col-sm-8
      p Met de Paintbot kun je gemakkelijk graphics maken in de verschillende huisstijlen van de NOS. Kies hieronder wat voor item je wilt maken.
      p Je item wordt automatisch gerenderd en in Avid Interplay bij het verhaal '#{inosStoryTitle}' geplaatst. 
  include partials/templates
